# ── Aplicação ──
APP_URL=http://localhost:8666
APP_PORT=8666

# ── Banco de Dados ──
DB_HOST=db
DB_PORT=3306
DB_NAME=certificafacil
DB_USER=certificafacil
DB_PASS=certificafacil_secret
DB_ROOT_PASS=root_secret

# ── Mercado Pago ──
PUBLIC_KEY=
ACCESS_TOKEN=
MP_WEBHOOK_SECRET=
